:root {
    --background-light: #F0F4F8;
    --background-dark: #3B3C3D;
    --primary-light: #D4EAF7;
    --primary-dark: #00668C;
    --accent-light: #71C4EF;
    --accent-dark: #004C70;
    --text-light: #FFFFFF;
    --text-dark: #1D1C1C;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    background-color: var(--background-light);
    color: var(--text-dark);
}

.hero-section {
    background-image: url('images/HeroSectionImage.jpeg');
    background-size: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    background-position: center; /* Keeps the image centered */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-light);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Vertically centers content */
    align-items: center;      /* Horizontally centers content */
    width: 100%;              /* Full width of the container */
    text-align: right;        /* Aligns text to the right */
    direction: rtl;           /* Ensures text starts from the right */
}

.container p {
    direction: ltr;           /* Ensures the text direction is left-to-right within the right-aligned container */
}

/* Content Section Slide */
.content-section-slide {
    padding: 40px 20px;
    background-color: var(--background-light);
    color: var(--text-dark);
    text-align: center;
    text-align: right
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--accent-dark);
    text-align: center;
}

p{
    font-size: 22px;
}

.content-section-slide p {
    line-height: 1.6;
}

/* Free Giving Section */
.content-section {
    padding: 40px 20px;
    background-color: var(--background-light);
    color: var(--text-dark);
}

.content-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--accent-dark);
}

.content-section p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Card styling */
.card {
    background-color: var(--primary-light);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* For Who Section */
.for-who-section {
    padding: 40px 20px;
    background-color: var(--background-light);
    color: var(--text-dark);
    text-align: center;
    text-align: right
}

.for-who-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--accent-dark);
}

.for-who-section p {
    margin-bottom: 10px;
    line-height: 1.6;
}

/* Call to Action Section */
.cta-section {
    background-color: var(--primary-light);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px 0;
}

.cta-content {
    max-width: 600px;
    margin: 0 auto;
}

.price-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.original-price {
    font-size: 1.5em;
    text-decoration: line-through;
    color: var(--text-dark);
}

.discounted-price {
    font-size: 2em;
    font-weight: bold;
    color: red;
}

.cta-button {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: var(--primary-dark);
    border: none;
    border-radius: 5px;
    color: var(--text-light);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--accent-dark);
}

/* Biography Section */
.Biography {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    background-color: var(--background-light);
    border-radius: 10px;
    margin: 20px 0;
}

.Biography img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Biography-content {
    max-width: 600px;
    padding: 0 20px;
}

.Biography-content h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: var(--accent-dark);
}

.Biography-content p {
    font-size: 1.2em;
    line-height: 1.8;
    text-align: justify;
}

/* Success Stories Section */
.success-stories-section {
    padding: 40px 20px;
    background-color: var(--background-light);
    color: var(--text-dark);
    text-align: center;
    margin: 20px 0;
}

.success-stories-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--accent-dark);
}

.message-container {
    left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap : 5%;
}

.message {
    width : 25%;
    background-color: var(--primary-light);
    padding: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: left;
    position: relative;
    font-size: 0.9em;
    color: var(--text-dark);
}

.message::before {
    content: "“";
    font-size: 3em;
    position: absolute;
    top: -10px;
    left: 10px;
    color: var(--primary-dark);
}

.message::after {
    content: "”";
    font-size: 3em;
    position: absolute;
    bottom: -10px;
    right: 10px;
    color: var(--primary-dark);
}

/* Contact Section */
.contact-section {
    padding: 40px 20px;
    background-color: var(--background-light);
    color: var(--text-dark);
    text-align: center;
}

.contact-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--accent-dark);
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.contact {
    font-size: 1.2em;
    text-align: center;
}

/* Footer */
.footer {
    background-color: var(--background-dark);
    padding: 20px;
    text-align: center;
    color: var(--text-light);
}

.footer-content p {
    margin: 0;
    font-size: 1.2em;
}

@media (max-width: 768px) {

    h1 {
        font-size: 1.6em;
    }
    
    h2 {
        font-size: 1.3em;
    }
    
    h3 {
        font-size: 1em;
    }
    
    p {
        font-size: 0.8em;
    }

    #next , #prev{
        color:var(--accent-light);
        background-color: transparent;
    }

    .content-section {
        display: flex;
        flex-direction: column;
    }

    .contact{
	display: flex;
	flex-direction : column;
    }

    .message-container {
        display: flex;
        flex-direction: column;
    }

    .message{
        width: auto;
    }
    
    .hero-section {
        width: auto; /* Remove fixed height for hero section */
    }

    .hero-content {
        padding: 15px;
    }

    .card {
        margin-bottom: 15px;
    }

    .message {
        font-size: 0.8em;
    }

    .faq-question {
        font-size: 1em;
    }

    .faq-answer {
        font-size: 0.8em;
    }

    .cta-section {
        padding: 30px 10px;
    }

    .price-section {
        font-size: 1.5em;
    }

    .footer {
        padding: 5px 0;
    }

    .Biography {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Biography img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .Biography-content {
        max-width: 100%;
    }

}


@media (max-width: 768px) {
    .hero-section {
        background-size: contain; /* Make the image fit within the container while maintaining aspect ratio */
        height: 50vh; /* Reduce the height to make it more mobile-friendly */
    }
}

@media (max-width: 480px) {
    .hero-section {
        height: 40vh; /* Even smaller height on small mobile screens */
    }
}